<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/profile/datas">Perfil</a>
    </div>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="/profile/datas"><i class="fa fa-building-o fa-fw"></i> Meus dados</a>
                </li>
                <li>
                    <a href="/profile/edit-data"><i class="fa fa-edit fa-fw"></i> Alterar dados</a>
                </li>
                <li>
                    <a href="/profile/edit-password"><i class="fa fa-lock fa-fw"></i> Alterar Senha</a>
                </li>
                <li>
                    <a href="/startup/schools"><i class="fa fa-arrow-left fa-fw"></i> Voltar</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
